# Data Types in Python


Dnyamically typed language>> We do not need to define the type of variable

In [ ]:
Numerical : int,float, complex

Text :      str
     
Sequence:   list, tuple, range
    
Mapping:    dict
    
set_Types:  set, frozenset
    
Boolean Types:  True, False
    
Binary: bytes, bytearray

# int Data Type

In [ ]:
Whole Number
+ve and -ve
Whithout Decimal

In [1]:
a = 20
print(type(a))

<class 'int'>

In [2]:
a = -20
print(type(a))

<class 'int'>

# Float Data Type

+ve or -ve
With decimal point 

12.34

In [4]:
x = -12.34
print(f'Value of x is {x} and Data type of x : {type(x)}')

Value of x is -12.34 and Data type of x : <class 'float'>

In [5]:
x = -12.34
print('Value of x is {} and Data type of x : {}'.format(x,type(x)))

Value of x is -12.34 and Data type of x : <class 'float'>

In [7]:
a = 10.15
a = -23.45
a = 12e3  # 12 * 10^3 >> 12000.0
a = 12.0
print('Value of a is {} and Data type of a : {}'.format(a,type(a)))

Value of a is 12.0 and Data type of a : <class 'float'>

In [9]:
a = 23e-5  # 23 * 10^-5 = 23/100000
print(a)

0.00023

In [10]:
a = 12.23456789 # 12.23
round(a,2)

12.23

In [16]:
a = 12.7896554 # 12.23
a = round(a,4)

print(a)

12.7897

# Complex Data Type

Contain real number and imaginary part

In [19]:
a = 10 + 20j
print(f'The value of a is {a} and Type of a is {type(a)}')

The value of a is (10+20j) and Type of a is <class 'complex'>

In [9]:
a = "khkhk"
print(type(a))
b = int(a)
type(b)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'khkhk'

In [20]:
b = 3 + 0j # 3  # Real + imaginary 
print(type(b)) # Complex

a = 20.0       # float
type(a)

complex

# Python Casting

Specify variables type
change Data type of variables


int   >> float
float >> int
int   >> complex
float >> complex

# We can not convert complex number to int or float
complex >> int 
complex >> float

### 1. int to float

In [23]:
a = 25
print(f'Value of a is {a} and its data type is {type(a)}')

a = float(a)
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is 25 and its data type is <class 'int'>
Value of a is 25.0 and its data type is <class 'float'>

In [25]:
a = -100
print(f'Value of a is {a} and its data type is {type(a)}')

a = float(a)
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is -100 and its data type is <class 'int'>
Value of a is -100.0 and its data type is <class 'float'>

### float to int

In [26]:
a = 30.45  
print(f'Value of a is {a} and its data type is {type(a)}')

a = int(a)  
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is 30.45 and its data type is <class 'float'>
Value of a is 30 and its data type is <class 'int'>

In [27]:
a = 30.9999  
print(f'Value of a is {a} and its data type is {type(a)}')

a = int(a)  
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is 30.9999 and its data type is <class 'float'>
Value of a is 30 and its data type is <class 'int'>

### 3. int to complex

In [29]:
a = 50
print(f'Value of a is {a} and its data type is {type(a)}')

a = complex(a)  
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is 50 and its data type is <class 'int'>
Value of a is (50+0j) and its data type is <class 'complex'>

In [30]:
a = -50
print(f'Value of a is {a} and its data type is {type(a)}')

a = complex(a)  
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is -50 and its data type is <class 'int'>
Value of a is (-50+0j) and its data type is <class 'complex'>

In [31]:
a = 50 + 1j
print(f'Value of a is {a} and its data type is {type(a)}')

a = complex(a)  
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is (50+1j) and its data type is <class 'complex'>
Value of a is (50+1j) and its data type is <class 'complex'>

### 4.float to complex

In [33]:
a = 50.45
print(f'Value of a is {a} and its data type is {type(a)}')

a = complex(a)  
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is 50.45 and its data type is <class 'float'>
Value of a is (50.45+0j) and its data type is <class 'complex'>

### 5. complex to int

In [35]:
a = 5 + 3j
print(f'Value of a is {a} and its data type is {type(a)}')

a = int(a)  
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is (5+3j) and its data type is <class 'complex'>

TypeError: can't convert complex to int

In [37]:
a = 5 + 0j  
print(f'Value of a is {a} and its data type is {type(a)}')

a = int(a)  
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is (5+0j) and its data type is <class 'complex'>

TypeError: can't convert complex to int

### 6. Complex to Float

In [39]:
a = 5.45 + 3j
print(f'Value of a is {a} and its data type is {type(a)}')

a = float(a)  
print(f'Value of a is {a} and its data type is {type(a)}')

Value of a is (5.45+3j) and its data type is <class 'complex'>

TypeError: can't convert complex to float

# String

Collection of char surrounded by single, double and triple quotes
We can not use single quote inside single quotes
We Can not use double quote inside double quotes

In [2]:
a = "Python's development"
print(a)

Python's development

In [70]:
a = 'Python' + 'class'
print(a)

Pythonclass

In [44]:
a = """Python's  Class"""
print(a)

Python's  Class

In [45]:
a = """Python's  Class"""
print(a)

Python's  Class

In [46]:
a = 'Python Class'
b = "Python Class"
c = """Python Class"""

print(f'Value of a is {a} and its data type is {type(a)}')
print(f'Value of b is {b} and its data type is {type(b)}')
print(f'Value of c is {c} and its data type is {type(c)}')

Value of a is Python Class and its data type is <class 'str'>
Value of b is Python Class and its data type is <class 'str'>
Value of c is Python Class and its data type is <class 'str'>

# Convert int to string

In [50]:
a = 100
print(f'Value of a is {a} and its data type is {type(a)}')

a = str(a)
print(f'Value of a is {a} and its data type is {type(a)}')
a

Value of a is 100 and its data type is <class 'int'>
Value of a is 100 and its data type is <class 'str'>

'100'

In [52]:
a = 1456789
print(f'Value of a is {a} and its data type is {type(a)}')

a = str(a)
print(f'Value of a is {a} and its data type is {type(a)}')
a

Value of a is 1456789 and its data type is <class 'int'>
Value of a is 1456789 and its data type is <class 'str'>

'1456789'

### Float to str

In [54]:
a = 14.56789
print(f'Value of a is {a} and its data type is {type(a)}')

a = str(a)
print(f'Value of a is {a} and its data type is {type(a)}')
a

Value of a is 14.56789 and its data type is <class 'float'>
Value of a is 14.56789 and its data type is <class 'str'>

'14.56789'

### Str to int

In [56]:
a = '500'  # String contain only digits

print(f'Value of a is {a} and its data type is {type(a)}')

a = int(a)
print(f'Value of a is {a} and its data type is {type(a)}')
a

Value of a is 500 and its data type is <class 'str'>
Value of a is 500 and its data type is <class 'int'>

500

In [58]:
a = '500a'  # String contain only digits

print(f'Value of a is {a} and its data type is {type(a)}')

a = int(a)
print(f'Value of a is {a} and its data type is {type(a)}')
a

Value of a is 500a and its data type is <class 'str'>

ValueError: invalid literal for int() with base 10: '500a'

In [60]:
a = ' 500 '  # String contain only digits

print(f'Value of a is {a} and its data type is {type(a)}')

a = int(a)
print(f'Value of a is {a} and its data type is {type(a)}')
a

Value of a is  500  and its data type is <class 'str'>
Value of a is 500 and its data type is <class 'int'>

500

In [62]:
a = 'a 500 '  # String contain only digits

print(f'Value of a is {a} and its data type is {type(a)}')

a = int(a)
print(f'Value of a is {a} and its data type is {type(a)}')
a

Value of a is a 500  and its data type is <class 'str'>

ValueError: invalid literal for int() with base 10: 'a 500 '

In [68]:
a = '50.50 '  # String contain only digits

print(f'Value of a is {a} and its data type is {type(a)}')

a = float(a)
print('Value of a is {} and its data type is {}'.format(a,type(a)))  # f-string

Value of a is 50.50  and its data type is <class 'str'>
Value of a is 50.5 and its data type is <class 'float'>